{% extends 'AWDFootballBundle::layout.html.twig' %}
{% block title %}Player list{% endblock %}
{% block nav %}
    <ul class="nav navbar-nav">
            <li ><a href="{{ path('awd_football_homepage') }}">Home</a></li>
            <li><a href="{{ path('awd_team') }}">Teams</a></li>
            <li class="active"><a href="{{ path('awd_player') }}">Players</a></li>
            <li><a href="{{ path('awd_game') }}">Games</a></li>
            
          </ul>
{% endblock %}
{% block content %}
  <div id="players row">
    {% for team in teams %}
      <div class="col-lg-2">
        <div class="team">
          <h5>{{ team.name }}</h5>
        </div>
        <table class="players">
          {% for entity in team.activeplayers %}
            <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                <td class="player"><a href="{{ path('awd_player_show', { 'id': entity.id}) }}">{{ entity.firstname }} {{ entity.lastname }}</a></td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </div>
{% endblock %}
